.search__input{
  width: 100%;
  min-height: 64px;
  border: solid 1px #d1d2d6;
  border-radius: 100px;
  padding-left: 24px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  box-sizing: border-box;
}

input.search__input::placeholder{
  color:#1b1b22;
}