@import url(../__button/_type/nav__button_type_unlogin.css);
@import url(../__button/_type/nav__button_type_login.css);

.nav__button{
  height: fit-content;
  margin: auto;
  height: 48px;
  display: flex;
  align-items: center;
}