@import url(../__link/_active/nav__link_active.css);
@import url(../__link/_type/nav__link_type_footer.css);
@import url(../__link/_type/nav__link_type_header.css);


.nav__link{
  padding-bottom: 26px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}
