.author__content{
  padding: 51px 0 0 56px;
}

@media screen and (max-width: 1024px) {
  .author__content{
    padding: 0 0 0 31px;
  }
}

@media screen and (max-width: 580px) {
  .author__content{
    padding: 0;
  }
}