.popup__close {
  width: 40px;
  position: absolute;
  top: -46px;
  right: -46px;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .popup__close {
    width: 24px;
    top: -40px;
    right: 16px;
  }
}