.articles__title {
  margin: 18px 0 64px ;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22
}

@media screen and (max-width: 1024px) {
  .articles__title {
    font-size: 30px;
    line-height: 34px;
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 580px) {
  .articles__title {
    margin: 32px 0 0;
  }
}