.search__button{
  position: absolute;
  right:0;
  top:0;
  font-size: 18px;
  width: 168px;
  height: 64px;
}
.search__button:hover{
  background: #347EFF;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  cursor: pointer;
}
.search__button:focus{
background: #2A65CC;
box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

@media screen and (max-width: 1024px) {
  .search__button{
    font-size: 18px;
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 400px) {
  .search__button {
    width: auto;
    position: relative;
  }
}