.popup__error {
  color: #ff0000;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  margin: 3px 0 13px;
  display: block;
}

.popup__error:last-of-type {
  margin: 3px 0 24px;
}

.popup__error:nth-of-type(3) {
  margin: 17px 0 8px;
  text-align: center;
}
