@import url(../main/__search/main__search.css);
@import url(../main/__articles/main__articles.css);
@import url(../main/__author/main__author.css);

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}