.article__title {
  margin: 12px 0 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
}

@media screen and (max-width: 1024px) {
  .article__title {
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 400px) {
  .article__title {
    line-height: 26px;
    margin: 10px 0 0;
  }
}