@import url(../footer/__copyright/footer__copyright.css);
@import url(../footer/__nav/footer__nav.css);
@import url(../footer/__social/footer__social.css);
@import url(../footer/__social-icon/footer__social-icon.css);

.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 28px 104px;
}

@media screen and (max-width: 1024px) {
  .footer{
    padding: 21px 40px 0px;
    max-height: 64px;
  }
}

@media screen and (max-width: 760px) {
  .footer{
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .footer{
    padding: 20px 16px 22px;
    justify-content: flex-start;
    max-height: 176px;
  }
}