<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsExplorer</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
    <link rel="icon" href="<%=require('../images/favicon.svg')%>" type="image/svg+xml">
</head>
<body>
    <div class="root">
      <header class=" header ">
        <a href="index.html" class="header__logo link link_theme_light">NewsExplorer</a>
        <nav class="header__nav nav">
          <ul class="nav__list">
            <li class="nav__item nav__item_type_header">
              <a href="index.html" class="nav__link nav__link_type_header nav__link_active link link_theme_light">Главная</a>
            </li>
            <li class="nav__item nav__item_type_header">
              <a href="articles.html" class="nav__link nav__link_type_header link link_theme_light">Сохраненные статьи</a>
            </li>
            <li class="nav__item">
              <button class="nav__button button button_theme_transparent">Авторизоваться</button>
            </li>
          </ul>
        </nav>
      </header>
      <main class="main">
        <section class="main__search search">
          <h1 class="search__title">Что творится в мире?</h1>
          <p class="search__description">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p>
          <form action="" class="search__form">
            <input type="text" class="search__input" placeholder="Введите тему новости">
            <button class="search__button button button_theme_blue">Искать</button>
          </form>
        </section>
        <section class="main__articles articles">
          <h2 class="articles__title">Результаты поиска</h2>
          <div class="articles__container">
            <article class="articles__item article">
              <div class="article__icon article__icon_type_marked"></div>
              <div class="article__unauth_massage">Войдите, чтобы сохранять статьи</div>
              <picture>
                <img
                  src="<%=require('../images/article.jpg')%>"
                  alt="Фото новости"
                  class="article__image">
              </picture>
              <div class="article__container">
                <time class="article__date">2 августа, 2019</time>
                <h3 class="article__title">Национальное достояние - парки</h3>
                <p class="article__description">
                  В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
                </p>
                <address class="article__address">лента.ру </address>
              </div>
            </article>
            <article class="articles__item article">
              <div class="article__icon article__icon_type_unmarked"></div>
              <div class="article__unauth_massage">Войдите, чтобы сохранять статьи</div>
              <picture>
                <img
                  src="<%=require('../images/article.jpg')%>"
                  alt="Фото новости"
                  class="article__image">
              </picture>
              <div class="article__container">
                <time class="article__date">2 августа, 2019</time>
                <h3 class="article__title">Национальное достояние - парки</h3>
                <p class="article__description">
                  В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
                </p>
                <address class="article__address">лента.ру </address>
              </div>
            </article>
            <article class="articles__item article">
              <div class="article__icon article__icon_type_unmarked"></div>
              <div class="article__unauth_massage">Войдите, чтобы сохранять статьи</div>
              <picture>
                <img
                  src="<%=require('../images/article.jpg')%>"
                  alt="Фото новости"
                  class="article__image">
              </picture>
              <div class="article__container">
                <time class="article__date">2 августа, 2019</time>
                <h3 class="article__title">Национальное достояние - парки</h3>
                <p class="article__description">
                  В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.
                </p>
                <address class="article__address">лента.ру</address>
              </div>
            </article>
          </div>
          <button class="articles__button button button_type_light">Показать еще</button>
        </section>
        <section class="main__author author">
          <picture class="author__image-wraper">
            <img alt="author-image" class="author__image" src="<%=require('../images/image-03.jpg')%>">
          </picture>
        <div class="author__content">
            <h3 class="author__title">Об авторе</h3>
            <p class="author__description">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.<br><br>Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете
                помочь потенциальным заказчикам.</p>
        </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer__copyright">&copy; 2020 Supersite, Powered by News API</div>
        <nav class="footer__nav nav">
            <ul class="nav__list nav__list_type_footer">
                <li class=" nav__item_type_footer nav__item">
                  <a class="nav__link nav__link_type_footer link link_theme_dark" href="./index.html">Главная</a>
                </li>
                <li class=" nav__item_type_footer nav__item">
                  <a class="nav__link nav__link_type_footer link link_theme_dark" href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a>
                </li>
            </ul>
            <div class="footer__social">
              <a href="https://github.com" class="link">
                <img class="footer__social-icon" src="<%=require('../images/github.svg')%>" alt=" github icon">
              </a>
              <a href="https://facebook.com" class="link">
                <img class="footer__social-icon" src="<%=require('../images/fb.svg')%>" alt="facebook icon ">
              </a>
            </div>
        </nav>
      </footer>

    </div>
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>