.footer__social-icon_facebook_round {
  display: none;
}

@media screen and (max-width:768px) {
  .footer__social-icon_facebook_round{
    display:inline-block;
  }
}

@media screen and (max-width:375px) {
  .footer__social-icon_facebook_round{
    display:none;
  }
}