.main__search {
  padding: 80px 104px;
}

@media screen and (max-width: 1024px) {
  .main__search {
    padding: 38px 0 48px;
  }
}

@media screen and (max-width: 580px) {
  .main__search {
    padding: 30px 16px 32px;
  }
}