.main__author {
  display: flex;
  padding: 80px 104px;
  align-self: flex-start;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .main__author {
    padding: 40px;
    min-height: 354px;
    box-sizing: border-box;
    width:100%
  }
}

@media screen and (max-width: 580px) {
  .main__author {
    padding: 32px 16px;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .main__author {
    padding: 32px 16px 80px;
  }
}