@import url(../header/__logo/header__logo.css);
@import url(../header/__nav/header__nav.css);
@import url(../header/_theme/header_theme_light.css);

.header{
  display: flex;
  justify-content: space-between;
  min-height: 80px ;
  align-items: center;
  color:#fff;
  padding: 0 104px 0;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);

}

