@import url(../header/__logo-link/header__logo-link.css);
@import url(../header/__nav/header__nav.css);
@import url(../header/_theme_light/header_theme_light.css);

.header{
  display: flex;
  justify-content: space-between;
  min-height: 80px ;
  align-items: center;
  color:#fff;
}

