@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__label/popup__label.css);
@import url(./__input/popup__input.css);
@import url(./__button/popup__button.css);
@import url(./__error/popup__error.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__image/popup__image.css);
@import url(./__content/_image/popup__content_image.css);
@import url(./__footer/popup__footer.css);
@import url(./__footer/popup__footer_link.css);
@import url(./__massage-link/popup__massage-link.css);
@import url(./popup_signin.css);
@import url(./popup_signup.css);
@import url(./popup_masage.css);
@import url(./popup_mobile.css);

.popup {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .popup {
    background-color: unset;
    align-items: unset;
  }
}
